*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #563212;
	gap: 50px;
	align-items: center;
}

.chess-board-container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chess-board {
	width: 650px;
	aspect-ratio: 1 / 1;
	background-color: #fff;
	border: 15px solid #eac483;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(8, 1fr);
	transform: rotateY(0.5turn);
}

.chess-square {
	width: 100%;
	height: 100%;
}

.dark-square {
	background-color: #779556;
}

.light-square {
	background-color: #EBECD0;
}

.piece-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	
}

.piece-container svg {
	width: 40px;
}

.pawn-container svg {
	width: 32px;
}

.bishop-container svg {
	width: 35px;
}


.queen-container svg {
	width: 56px;
}

.king-container svg {
	width: 46px;
}

[data-occupied=true] {
	cursor: pointer;
}

.selected path {
	fill: #F7771D;
}

[data-show_possible=true] {
	position: relative;
	cursor: pointer;
}

[data-show_possible=true]::before {
	content: "";
	position: absolute;
	width: 15px;
	aspect-ratio: 1 / 1;
	background-color: #F6AB04;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}

.turn-keeper {
	color: #fff;
}

.piece-container.selected svg {
	filter: drop-shadow(0px 0px 10px rgb(255, 155, 0));
}

.piece-container[data-side=light] svg {
	stroke-width: 3px;
	stroke: #000;
}